{{ define "main" }}

{{- partial "subtitle-with-chick.html" . -}}

  {{.Content}}

  {{ range .Pages }}
    <article>
      <div class="flex flex-wrap justify-center md:justify-start">
        <img class="profile-picture " src="{{.Params.picture}}" alt="{{.Title}}">
        <div class="md:w-min grow flex items-center order-last md:order-none">
          <div class="text-justify">
              {{ .Content }}
            <p>{{.Params.langs}}</p>
          </div>
        </div>
        <div class="basis-full"></div>
        <div>
          <h2>{{ .Title }}</h2>
        </div>
      </div>
    </article>
  {{ end }}
{{ end }}