{{ define "main" }}

  <div class="relative mt-20">
    <h1>{{ .Title }}</h1>
    <div class="chick chick-h1"></div>
  </div>

  {{.Content}}

  {{ range .Pages }}
    <article>
      <div class="flex flex-wrap">
        <img class="profile-picture" src="{{.Params.picture}}" alt="{{.Title}}">
        <div class="sm:w-min grow flex items-center order-last sm:order-none">
          <div class="text-justify">
              {{ .Content }}
            <p>{{.Params.langs}}</p>
          </div>
        </div>
        <div class="basis-full"></div>
        <div>
          <h2>{{ .Title }}</h2>
        </div>
      </div>
    </article>
  {{ end }}
{{ end }}