<header class="w-full border-y-2 border-black">
    {{/* CSS functionality for menu toggle */}}
  <style type="text/css">
      input#nav-toggle:checked ~ label#show-button {
          display: none;
      }

      input#nav-toggle:checked ~ label#hide-button {
          display: flex;
      }

      input#nav-toggle:checked ~ #nav-menu {
          display: block;
      }
  </style>

  <nav class="flex items-center justify-between flex-wrap bg-secondary">

    <input id="nav-toggle" type=checkbox class="hidden">
    <label id="show-button" for="nav-toggle"
           class="flex items-center sm:hidden hover:text-blue-500 p-4">

      <svg viewBox="0 0 20 20" class="inline-block w-6 h-6 mr-2" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="currentColor" fill-rule="evenodd">
          <g id="icon-shape">
            <path d="M0,3 L20,3 L20,5 L0,5 L0,3 Z M0,9 L20,9 L20,11 L0,11 L0,9 Z M0,15 L20,15 L20,17 L0,17 L0,15 Z" id="Combined-Shape"></path>
          </g>
        </g>
      </svg>
    </label>
    <label id="hide-button" for="nav-toggle" class="items-center hidden text-gray-700 hover:text-blue-500 p-4 border-l border-black">
      <svg class="fill-current h-4 w-4" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <title>Menu Close</title>
        <polygon points="11 9 22 9 22 11 11 11 11 22 9 22 9 11 -2 11 -2 9 9 9 9 -2 11 -2"
                 transform="rotate(45 10 10)"/>
      </svg>
    </label>


    <ul id="nav-menu" class="sm:flex flex-grow w-full sm:w-auto hidden uppercase font-semibold text-center">
        {{- range site.Menus.main }}
          <li class="grow border-x border-black p-3">
            <a href="{{ .URL | absLangURL }}">{{ T .Identifier | default .Identifier }}</a>
          </li>
        {{- end }}
      <div class="grow flex">
          {{ range $.Site.Home.AllTranslations }}
              {{ if ne .Language $.Site.Language }}
                <li class="grow border-x border-black p-3 sm:border-t-0 border-t-2 "><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                </li>
              {{ end }}
          {{ end }}
      </div>
    </ul>
  </nav>
</header>