{{ define "main" }}
  <article class="text-white">

    <div class="relative mt-20 sm:mt-22 mb-20">

      <div class="absolute top-[-9%]">
        <div class="liber-title inline-block text-6xl sm:text-8xl md:text-9xl px-12 py-8 sm:px-20 sm:py-12 md:py-10">
          LIBER
        </div>
      </div>
        <img src="https://github.com/user-attachments/assets/cedc3881-d507-4a72-9f8e-b986e9ae3eb2" alt="La Liber" class="relative z-5">
      <div class="flex justify-end md:mt-2 mt-4 absolute bottom-[-9%] right-[0] ">
        <div class="chick absolute top-[40%] right-[-4%] sm:right-[-1%] w-28 h-28 sm:w-40 sm:h-40"></div>
        <div class="liber-title inline-block text-6xl sm:text-8xl md:text-9xl px-12 py-8 sm:px-20 sm:py-12 md:py-10">
          IMPRO
        </div>
      </div>
    </div>

    <div class="">

        {{ $parts := split .Content "|||||" }}

        {{ index $parts 0 | safe.HTML }}

        <div class="mt-20 mb-20">
          <h2 class="mb-6">Prochain Spectacle</h2>
          <div id="next-event"></div>
        </div>


        {{ index $parts 1 | safe.HTML }}

    </div>

  </article>

{{ end }}